apiVersion: v1
kind: Service
metadata:
  name: api-traffic
  labels:
    app: api-traffic
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: api-traffic
