apiVersion: v1
kind: Secret
metadata:
  name: storage-secret
type: Opaque
stringData:
  connection-string: "DefaultEndpointsProtocol=https;AccountName=stapideveus1001;AccountKey=YOUR_STORAGE_KEY;EndpointSuffix=core.windows.net"
