apiVersion: v1
kind: Service
metadata:
  name: fabric-sync
  labels:
    app: fabric-sync
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: fabric-sync
