name: Deploy to dev

on:
  push:
    branches:
      - dev
    paths-ignore:
      - "**/*.md"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  push-to-dev:
    uses: ./.github/workflows/aks-deploy-dotnet.yaml
    with:
      environment: dev
      force_infra: false
      azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
      azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
      azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      resource_group_name: rg-ess-dev-usw2-001
      stack_name: stack-ess-dev-usw2-001
      template_file: infrastructure/main.bicep
      params_file: infrastructure/main.dev.bicepparam
      acr_name: skoposacrregistry
      aks_cluster_name: aks-ess-dev-usw2-001
      k8s_namespace: default
      storage_account_name: stessdevusw2001
      applications_json: |
        [
          {
            "path": "ess-traffic",
            "name": "ess-traffic",
            "image": "ess-traffic",
            "dockerfile": "Dockerfile"
          },
          {
            "path": "time-logger",
            "name": "time-logger",
            "image": "time-logger",
            "dockerfile": "Dockerfile"
          },
          {
            "path": "fabric-sync",
            "name": "fabric-sync",
            "image": "fabric-sync",
            "dockerfile": "Dockerfile"
          }
        ]
    #   k8s_namespace: default
    #   storage_account_name: sttimeloggerdevncus001
    #   applications_json: |
    #     [
    #       {
    #         "path": "api-traffic",
    #         "name": "api-traffic",
    #         "image": "api-traffic",
    #         "dockerfile": "Dockerfile"
    #       },
    #       {
    #         "path": "time-logger",
    #         "name": "time-logger",
    #         "image": "time-logger",
    #         "dockerfile": "Dockerfile"
    #       },
    #       {
    #         "path": "fabric-sync",
    #         "name": "fabric-sync",
    #         "image": "fabric-sync",
    #         "dockerfile": "Dockerfile"
    #       }
    #     ]
