name: Push to dev

on:
  push:
    branches:
      - dev
    paths-ignore:
      - "**/*.md"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  push-to-dev:
    uses: ./.github/workflows/aks-deploy-dotnet.yaml
    with:
      environment: dev
      force_infra: true
      azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
      azure_client_id: ${{ vars.UMI_ACESTUS_DEV_SCUS_MGT }}
      azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      resource_group_name: rg-acestus-dev-scus-001
      stack_name: stack-acestus-dev-scus-001
      template_file: stacks-bicep/rg-acestus-scus/main.bicep
      params_file: stacks-bicep/rg-acestus-scus/environments/dev/main.dev.bicepparam
      acr_name: acracestusdevscus001
      aks_cluster_name: aks-acestus-dev-scus-001
      k8s_namespace: default
      storage_account_name: stacestusdevscus001
      applications_json: |
        [
          {
            "path": "api-traffic",
            "name": "api-traffic",
            "image": "api-traffic",
            "dockerfile": "Dockerfile"
          },
          {
            "path": "time-logger",
            "name": "time-logger",
            "image": "time-logger",
            "dockerfile": "Dockerfile"
          },
          {
            "path": "fabric-sync",
            "name": "fabric-sync",
            "image": "fabric-sync",
            "dockerfile": "Dockerfile"
          }
        ]
    #   k8s_namespace: default
    #   storage_account_name: sttimeloggerdevncus001
    #   applications_json: |
    #     [
    #       {
    #         "path": "api-traffic",
    #         "name": "api-traffic",
    #         "image": "api-traffic",
    #         "dockerfile": "Dockerfile"
    #       },
    #       {
    #         "path": "time-logger",
    #         "name": "time-logger",
    #         "image": "time-logger",
    #         "dockerfile": "Dockerfile"
    #       },
    #       {
    #         "path": "fabric-sync",
    #         "name": "fabric-sync",
    #         "image": "fabric-sync",
    #         "dockerfile": "Dockerfile"
    #       }
    #     ]
